body {
background-color:#6779EB; font-family: Georgia,"Times New Roman", sans-serif;
font-size: 18px; background-image: url(bilder/wald.jpg);
opacity: 0.4;
background-repeat:no-repeat;
background-position:center top;
//background-attachment:fixed;//

//background-size:cover;//

}

h1 {color:#EEDA97; font-family: Arial, Verdana, "Times New Roman", sans-serif;
font-size: 30px; line-height: 4px;
}


h2 {color:#EEDA97; font-family: Georgia,"Times New Roman", sans-serif;
font-size: 24px;}

/* unvisited link */
a:link {
  color:#9E8226;
}

/* visited link */
a:visited {
  color:#EEDA97;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.feld { background-color: #333333; }

.rahmen {
border-top: 1px solid #6699CC;
border-bottom: 1px solid #9966AA;
border-left: 1px solid #3355DD;
border-right: 1 px solid #228855;


}

