/* Button */
.btn-round {
    border-radius: 30px;
}

#brand{
    margin-right: 30px;
}

section .container {
    position: relative;
}


section {
    padding: 140px 0;
}

#home .container {
    height: 100%;
}

#home .row {
    height: 80%;
}

.hero-bg {
    background: url(../img/ke-gloss-carbon-fiber-13037-ke-gcf4.jpg) 50% 0 fixed no-repeat;
    height: 100vh;
    background-size: cover;
}

.about-bg {
    background: url(../img/ke-gloss-carbon-fiber-13037-ke-gcf4.jpg) 50% 0 fixed no-repeat;
    height: 100%;
    background-size: cover;
}

#about .carousel-item {
    height: 600px;
}