/* Normalisierung */
html, *{
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    height: 200vh;
    background-color: #3f3e3c;
}

.wrapper{
    width: 768px;
    padding: 50px 0;
    margin: 0 auto;

}

/* Navigation */

nav{
    width: 500px;
    margin-left: auto;
    position: fixed;
    right: 0;
    top: .8rem;
}

nav>ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav >ul >li > a{
    text-decoration: none;
    color: antiquewhite;
    padding: 0.8rem 0;
}


/* Header */

header{
    background: #3f3e3c url("../images/header-background.jpg")
    no-repeat center center;
    color:  #fff;
    padding: 40px 0;
    text-align: center;
    height: 350px;
    background-size: cover;

}

header h1{
    font-size: 2rem;
    margin: 1rem 0 .8rem;
}

header h2{
    font-size: 1.5rem;
    font-style: italic;
}

header a{
    display:inline-block;
    color: #333;
    background-color: #fed136;
    padding: .8em;
    border-radius: 5px;
    font-size: 0.8em;
    text-decoration: none;
}

header a:hover {
    background-color: #ceab2b;
}

